# Zmien nazwy hostow/uzytkownika/hasla pod swoja instancje.

[sources.sql_database]
credentials = "mssql+pyodbc://USER:PASSWORD@SOURCE_HOST/AdventureWorks2022?driver=ODBC+Driver+18+for+SQL+Server&TrustServerCertificate=yes"

[destination.mssql.credentials]
database = "BI_LAB5"
password = "PASSWORD"
username = "USER"
host = "DEST_HOST"
port = 1433
driver = "ODBC Driver 18 for SQL Server"

[destination.mssql.credentials.query]
TrustServerCertificate = "yes"
Encrypt = "no"
LongAsMax = "yes"

[destination.duckdb.credentials]
database = "bi_lab5.duckdb"
